stages:
  - tests
  - publish

tests:
  image: 'python:3.12.11-bullseye'
  stage: tests

  script:
    - apt-get update
    - apt-get -y install libgraphviz-dev graphviz
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade wheel setuptools pip
    - pip install cython
    - pip install -e ".[test]"
    - coverage run --source=. -m pytest --include-long-time-tests
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    paths:
      - tests/output
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - master
    - main
    - merge_requests

pypi:
  image: 'python:3.12.11-bullseye'
  stage: publish
  script:
    - pip install twine build
    - python -m build
    - twine upload --non-interactive --repository pypi -u ${PYPI_TWINE_USERNAME} -p ${PYPI_TWINE_PASSWORD} dist/*
  rules:
    # Run task only if tag looks like semver
  - if: $CI_COMMIT_TAG =~ /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
